/* h1 */
.title-primary {
    font-size: 5rem;
}

.content-filters {
    background-color: var(--color-rose);
    width: 60%;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 0.625rem;
    
}

.content-filters:hover {
    border: 1px solid black;
    margin-top: 0;
    margin: 0.2rem 0.2rem;
    transition: .5s;
    transition-timing-function: ease-in;

}


/* h2 */
.show-filter {
    font-size: 3rem;
    margin-top: 0.16rem;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 0.625rem;
}


.show-filter.hover:hover {
    border: 1px solid black;
    margin: 1rem 1rem;
    transition: .5s;
    transition-timing-function: ease-in;
}



/* container p */
.filters {
    display: none;
    width: 100%;
    margin-right: 2rem;
}

.display-block {
    display: block;
}

/* imgs */
div.content {

    padding: 3rem;
    width: 100%;
    height: 33vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    
}



img.auto {
    opacity: 0;
    position: absolute;
    height: 50vw;
    width: 50vw;
    max-height: 420px;
    max-width: 420px; 
    
    transition: opacity 800ms;
    margin-top: 1rem;
    transform: translate(4%, 0%);

}

img.selected {
    opacity: 1;
}

/* scroll */

#items-wrapper {
    width: 45vw;
}

#items {
    display: flex;
    overflow-x: auto;

    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    scroll-behavior: smooth;
}

.item {
    width: 100%;
    height: 500px; 
    /* desabilitar comportamento do flex */
     flex: none;

    scroll-snap-align: start;
    pointer-events: none;
    transition: 800ms
}

img.scroll {
    width: 100%;
    height: 100%;
}
